.next-dates {

    width: 70%;
    padding: 15px;
}

.next-dates h3 {
    text-align: center;
}

.cards {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.cards ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards li {
    transition: transform .2s;
    display: inline-block;
    justify-content: center;
    padding: 5px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 220px;
    height: 200px;
    padding: 15px;
    background-color: white;
    border: 1px solid rgba(171, 172, 171, 0.397);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.212);
}

.card:hover {
    transform: scale(1.16);
    cursor: pointer;
}

.card p {
    margin-top: 10px;
}

.tag-data {
    background-color: mediumspringgreen;
    color: black;
    font-size: 10pt;
    font-weight: bolder;
    width: 100px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 0;
    border-radius: 100px;
}

.card a{
    text-decoration: none;
    color: dodgerblue;
}